
<div id="masthead">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ site.url }}" title="{{ site.title }} – {{ site.slogan }}">
			
				<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
				<br/><br/><br/>
				<a href="{% include user-edit/Facebook-Account.md %}"><img src="{{ site.urlimg }}/facebook.png"  alt="Like us on facebook!" border="0" />
				{% comment %}
				</a><img src="{{ site.urlimg }}/blank.png"><a href="{% include user-edit/Twitter-Account.md %}"><img src="{{ site.urlimg }}/twitter.png"  alt="" border="0" /></a><img src="{{ site.urlimg }}/blank.png"><a href="{% include user-edit/GooglePlus-Account.md %}"><img src="{{ site.urlimg }}/googleplus.png"  alt="Review us on Google!" border="0" />
				{% endcomment %}
				</a><img src="{{ site.urlimg }}/wideblank.png"><a href="tel:{% include user-edit/Contact-Phone-Area-Code.md %}{% include user-edit/Contact-Phone-Number.md %}"><img src="{{ site.urlimg }}/handset.png"  alt="Call us now!" border="0" /></a>
                               
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->




